

  <div class="flex flex-col gap-4 items-center text-center py-4 mx-8 border-solid border-b-2 border-gray-400 border-opacity-30">
    <h1 class="text-lg font-semibold"> Bonjour, <%= current_user.first_name %> </h1>
    <%= image_tag "completed_task.svg", class:"h-44" %>
    <h3 class="text-lg font-semibold"> Tâches en cours </h3>
  </div>

<!-- Début de la methode pour afficher les taches en cours -->

  <div class="flex flex-col gap-6 px-6 py-6">
    <!-- <div class="test"> -->
    <% current_user.assignations.sort_by(&:date).reverse.each do | assignation | %>

<!-- Un premier if pour les taches occasionnel qui n'ont pas de task associé -->

    <% if  assignation.task != nil %>

<!-- Un deuxieme pour afficher les taches à la date d'aujourd'hui et les hebdomaires sur 7j glissant  -->

      <% if assignation.statut == false && (assignation.date == Date.today || (assignation.task.recurrence == "hebdomadaire" && assignation.date < Date.today.next_day(7))) %>
        <div class="flex justify-around items-center py-4 px-4 bg-blue-200 shadow-lg rounded-t-xl rounded-r-xl border-solid border-2 border-gray-800 border-opacity-10">
          <div class="flex flex-col gap-y-1 -mt-1">
          <span class="-ml-4 text-xs text-gray-600 tracking-wide"><%= assignation.task.recurrence %></span>
          <%= cl_image_tag current_user.photo.key, class:"mr-2 border-solid border-2 border-blue-200 w-12 h-12 rounded-full" %>
          </div>
        <div class="mt-6">

          <span class="block text-gray-800 font-bold text-sm uppercase tracking-wide">
          <%= assignation.task.name  %></span>
          <div class="pt-2 block text-xs text-gray-600">
            <i class="fas fa-history"></i>
            <span class="px-2"> <%= assignation.task.duration %> min </span>
          </div>
        </div>
        <div class="pt-1">
          <%= simple_form_for assignation do |f| %>
          <%= link_to "Valider", edit_assignation_path(current_colocation, assignation_id: assignation), class: "inline-block px-2 py-2 rounded-lg bg-yellow-500 text-white uppercase tracking-wide font-semibold text-xs" %>
          <% end %>
        </div>
      </div>
      <% end %>


<!-- On fait la même chose qu'au dessus pour les taches occasionnel -->

    <% elsif assignation.statut == false && assignation.date == Date.today %>
      <div class="flex justify-around items-center px-4 py-6 pl-4 bg-blue-200 shadow-lg rounded-t-xl rounded-r-xl border-solid border-2 border-gray-800 border-opacity-10">
        <%= cl_image_tag current_user.photo.key, class:"flex-shrink border-solid border-2 border-blue-200 w-12 h-12 rounded-full" %>
        <span class="truncatewithoutnowrap text-center flex-grow px-4 text-gray-800 font-bold text-sm uppercase tracking-wide">
          <%= assignation.name %></span>
          <%= simple_form_for assignation do |f| %>
          <%= link_to "Valider", edit_assignation_path(current_colocation, assignation_id: assignation), class: "flex flex-shrink inline-block px-2 py-2 rounded-lg bg-yellow-500 text-white uppercase tracking-wide font-semibold text-xs" %>
          <% end %>
      </div>
    <% end %>
    <% end %>
  </div>

<!-- Method terminé -->


<!-- Taches dans le futur -->

  <div class="mx-8 border-solid border-b-2 border-t-2 border-gray-400 border-opacity-30">
    <h3 class="text-center py-4 text-lg font-semibold">Tâches des prochains jours</h3>
  </div>

  <!-- La method regarde sur x jours (15.times do = 15j) si l'user à des tasks et si oui elle display le jour et les tasks
   -->


    <% i = 1 %>
    <% 15.times do %>

  <% @existing_date = [] %>

  <% current_user.assignations.each do | assignation | %>

<!-- Première method pour savoir si il y a des assignations pour display les jours ou pas -->

    <% if assignation.task != nil %>
      <% if assignation.date == Date.today.next_day(i) && assignation.task.recurrence != "hebdomadaire" %>
      <% @existing_date << assignation.date %>
      <% end %>
    <% elsif assignation.date == Date.today.next_day(i) %>
      <% @existing_date << assignation.date %>
    <% end %>
  <% end %>

      <% if @existing_date != [] %>
    <div class="text-left py-4 ">
      <h3 class="text-l font-semibold italic px-1 py-4 text-gray-600"><%= Date.today.next_day(i).strftime("%A %d/%m") %> </h3>

    <div class="flex flex-col gap-6 px-6 py-6">
    <% end %>

<!-- Fin de la première method -->

      <% current_user.assignations.each do | assignation | %>

<!-- Comme pour la method taches en cours premier if pour savoir si tache occasionnel  -->

    <% if assignation.task != nil %>

<!-- A linverse on veut pas des taches hebdomadaire ici, seulement celle qui correspondent à la dates -->

      <% if assignation.statut == false && assignation.date == Date.today.next_day(i) && assignation.task.recurrence != "hebdomadaire" %>
      <div class="flex justify-center items-center px-4 py-4 pl-4 bg-blue-200 shadow-lg rounded-t-xl rounded-r-xl border-solid border-2 border-gray-800 border-opacity-10">
        <%= cl_image_tag current_user.photo.key, class:" mr-4 border-solid border-2 border-blue-200 w-12 h-12 rounded-full" %>
        <div class="">
          <span class="block text-gray-800 font-bold text-sm uppercase tracking-wide">
            <% if assignation.task == nil %>
            <%= assignation.name %>
            <% else  %>
            <%= assignation.task.name  %></span>
            <% end %>
          </span>
          <% if assignation.task != nil %>
            <div class="pt-2 block text-xs text-gray-600">
            <i class="fas fa-history"></i>
            <span class="px-2"> <%= assignation.task.duration %> min </span>
          </div>
        <% end %>
        </div>
      </div>
      <% end %>

<!-- Ici cest pour les assignation occasionnel on refait la method du dessus -->

    <% elsif assignation.statut == false && assignation.date == Date.today.next_day(i)%>
          <div class="flex justify-center items-center px-4 py-4 pl-4 bg-blue-200 shadow-lg rounded-t-xl rounded-r-xl border-solid border-2 border-gray-800 border-opacity-10">
        <%= cl_image_tag current_user.photo.key, class:"mr-4 border-solid border-2 border-blue-200 w-12 h-12 rounded-full" %>
            <div class="">
              <span class="block text-gray-800 font-bold text-sm uppercase tracking-wide">
                <% if assignation.task == nil %>
                <%= assignation.name %>
                <% else  %>
                <%= assignation.task.name  %></span>
                <% end %>
              </span>
              <% if assignation.task != nil %>
              <div class="pt-2 block text-xs text-gray-600">
                <i class="fas fa-history"></i>
                <span class="px-2"> <%= assignation.task.duration %> min </span>
              </div>
            <% end %>
            </div>
          </div>
          <% end %>

<!-- Fin de la method -->

      <% end %>
    </div>
    </div>
    </div>
    <% i += 1 %>
    <% end %>


<div class="mb-16"></div>

<%= render 'shared/navigation_footer' %>
