<% content_for :title, "Mes tâches" %>


  <div class="text-center py-3 mx-8 border-solid border-b-2 border-gray-400 border-opacity-30">
    <h3 class="text-lg font-semibold"> Tâches à faire </h3>
  </div>


<div class="flex flex-start px-3 py-5">
     <div class="flex flex-col flex-shrink items-center font-bold text-yellow-600 ">
        <span ><%= translate_day_name(Date.today.strftime("%a")) %></span>
        <span><%= Date.today.strftime("%d") %></span>
      </div>
  <div class="flex flex-col gap-4 flex-grow pl-4 pr-6">

    <% current_user.assignations.sort_by(&:date).reverse.each do | assignation | %>


    <% if  assignation.task != nil %>


      <% if assignation.statut == false && (assignation.date == Date.today || (assignation.task.recurrence == "hebdomadaire" && assignation.date < Date.today.next_day(7))) %>
        <div class="flex justify-between items-center px-2 py-2 bg-blue-200 shadow-lg rounded-lg border-solid border-2 border-gray-800 border-opacity-10">
          <div class="">
            <span class=" text-gray-800 font-bold text-sm">
            <%= assignation.task.name  %></span>
            <span class="block text-xs text-gray-600"><%= change_hebdo_and_quoti(assignation.task.recurrence) %></span>
          </div>
          <div class="">
            <div class="text-xs text-gray-600">
              <i class="fas fa-history"></i>
              <span class=""> <%= assignation.task.duration %> min </span>
            </div>
          </div>
          <div class="flex-shrink">
            <%= simple_form_for assignation do |f| %>
            <%= link_to "Valider", edit_assignation_path(current_colocation, assignation_id: assignation), class: "inline-block px-2 py-2 rounded-lg bg-yellow-500 text-white font-bold text-xs" %>
            <% end %>
          </div>


        </div>
      <% end %>



    <% elsif assignation.statut == false && assignation.date == Date.today %>
      <div class="flex justify-between items-center px-2 py-2 bg-blue-200 shadow-lg rounded-lg border-solid border-2 border-gray-800 border-opacity-10">
        <span class="text-gray-800 font-bold text-sm ">
          <%= assignation.name %></span>
          <%= simple_form_for assignation do |f| %>
          <%= link_to "Valider", edit_assignation_path(current_colocation, assignation_id: assignation), class: "flex-shrink inline-block px-2 py-2 rounded-lg bg-yellow-500 text-white font-bold text-xs" %>
          <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
  </div>



    <% i = 1 %>
    <% 15.times do %>

  <% @existing_date = [] %>

  <% current_user.assignations.each do | assignation | %>

    <% if assignation.task != nil %>
      <% if assignation.date == Date.today.next_day(i) && assignation.task.recurrence != "hebdomadaire" %>
      <% @existing_date << assignation.date %>
      <% end %>
    <% elsif assignation.date == Date.today.next_day(i) %>
      <% @existing_date << assignation.date %>
    <% end %>
  <% end %>

      <% if @existing_date != [] %>

    <div class="flex flex-start px-3 py-5">
      <div class="flex flex-col flex-shrink font-bold items-center">
        <span ><%= translate_day_name(Date.today.next_day(i).strftime("%a")) %></span>
        <span><%= Date.today.next_day(i).strftime("%d") %></span>
      </div>

    <div class="flex flex-col gap-4 flex-grow pl-4 pr-6">
    <% end %>

      <% current_user.assignations.each do | assignation | %>

      <% if assignation.task != nil %>


      <% if assignation.statut == false && assignation.date == Date.today.next_day(i) && assignation.task.recurrence != "hebdomadaire" %>
        <div class="px-2 py-2 bg-blue-200 shadow-lg rounded-lg border-solid border-2 border-gray-800 border-opacity-10">

          <span class="text-gray-800 font-bold text-sm">
            <%= assignation.task.name  %></span>
        </div>
      <% end %>

    <% elsif assignation.statut == false && assignation.date == Date.today.next_day(i)%>
          <div class="px-2 py-2 bg-blue-200 shadow-lg rounded-lg border-solid border-2 border-gray-800 border-opacity-10">
              <span class="text-gray-800 font-bold text-sm">
                <%= assignation.name %>
              </span>
          </div>
          <% end %>


      <% end %>
    </div>
    </div>
    <% i += 1 %>
    <% end %>


<div class="mb-16"></div>

<%= render 'shared/navigation_footer' %>
