<div class="text-center py-4">
<h1> <%= current_user.first_name %> </h1>


<h3> Tâches du jour </h3>
</div>

<div class="flex flex-col gap-6 px-8 pb-12">
  <% current_user.assignations.each do | assignation | %>
    <% if assignation.statut == false && assignation.date == Date.today %>
  <div class="flex justify-between items-center py-4 pl-4 bg-blue-200 shadow-lg">
    <%= cl_image_tag current_user.photo.key, class:"mr-4 border-solid border-2 border-blue-200 w-12 h-12 rounded-full" %>
    <span class="text-black font-bold text-sm uppercase tracking-wide">
      <% if assignation.task == nil %>
      <%= assignation.name %>
      <% else  %>
      <%= assignation.task.name  %></span>
      <% end %>
    </span>
    <%= simple_form_for assignation do |f| %>
    <%= link_to "Valider", edit_assignation_path(current_colocation, assignation_id: assignation), class: "mr-4 inline-block px-2 py-2 rounded-lg bg-yellow-500 text-white uppercase tracking-wide font-semibold text-xs" %>
    <% end %>
  </div>


  <% end %>
  <% end %>
</div>

<div>
  <h3 class="text-center py-4">Tâches des prochains jours</h3>
</div>

<!-- La method regarde sur x jours (15.times do = 15j) si l'user à des tasks et si oui elle display le jour et les tasks
 -->

  <% i = 1 %>
  <% 15.times do %>

  <% @existing_date = [] %>

  <% current_user.assignations.each do | assignation | %>
    <% if assignation.date == Date.today.next_day(i) %>
    <% @existing_date << assignation.date %>
    <% end %>
    <% end %>
    <% if @existing_date != [] %>
  <div class="text-left py-4 ">
    <h3 class="text-l italic py-4"><%= Date.today.next_day(i).strftime("%A %d/%m") %> </h3>

  <div class="flex flex-col gap-6 px-8">
<% end %>

    <% current_user.assignations.each do | assignation | %>
    <% if assignation.statut == false && assignation.date == Date.today.next_day(i) %>
    <div class="flex justify-around items-center py-4 pl-4 bg-blue-200 shadow-lg">
      <%= cl_image_tag current_user.photo.key, class:"mr-4 border-solid border-2 border-blue-200 w-12 h-12 rounded-full" %>
      <span class="text-black font-bold text-sm uppercase tracking-wide">Faire <%= assignation.task.name %></span>
    </div>
    <% end %>
    <% end %>
  </div>
  </div>
  <% i += 1 %>
  <% end %>


<%= render 'shared/navigation_footer' %>
