<footer>
  <div class="w-screen px-4 py-4 bg-gray-800 text-white fixed bottom-0 z-20">
    <div class="flex justify-around">
      <div>
        <%= link_to colocation_path(current_colocation), class: "#{nav_active_class_for('colocations','show')}" do %>
          <i class="fas fa-home"></i>
        <% end %>
      </div>
      <div>
        <%= link_to tasks_path(current_colocation), class: "#{nav_active_class_for('tasks','index')}" do %>
          <i class="fas fa-tasks"></i>
        <% end %>
      </div>
      <div>
        <%= link_to assignations_path, class: "#{nav_active_class_for('assignations','index')}" do  %>
          <i class="fas fa-history"></i>
        <% end %>
      </div>
      <div>
        <%= link_to depenses_path, class: "#{nav_active_class_for('depenses','new')} #{nav_active_class_for('depenses','index')}" do %>
          <i class="fas fa-euro-sign"></i>
        <% end %>
      </div>
      <div>
        <%= link_to colocation_roommates_path(current_colocation), class: "#{nav_active_class_for('colocations','roommates')}" do  %>
          <i class="fas fa-chart-line"></i>
        <% end %>
      </div>
    </div>
  </div>
</footer>
