<br>
<footer>
  <div class="w-screen px-4 py-2 bg-gray-800 text-white fixed bottom-0">
    <div class="flex justify-around">
      <div>
        <%= link_to colocation_path(current_colocation) do  %>
          <i class="fas fa-home"></i>
        <% end %>
      </div>
      <div>
        <%= link_to 'chat_path' do  %>
          <i class="far fa-comment-alt"></i>
        <% end %>
      </div>
      <div>
        <%= link_to tasks_path(current_colocation) do  %>
          <i class="fas fa-align-left"></i>
        <% end %>
      </div>
      <div>
        <%= link_to assignations_path do  %>
          <i class="fas fa-history"></i>
        <% end %>
      </div>
      <div>
        <%= link_to user_path(current_user), class: "#{nav_active_class_for('users')}" do  %>
          <i class="far fa-user"></i>
        <% end %>
      </div>
    </div>
  </div>
</footer>
