<% content_for :title, "Statistiques" %>


<div class="rounded-t-3xl bg-gradient-to-tr from-blue-200 to-blue-400 flex flex-col gap-4 items-center text-center mt-24 py-4 mx-4 pb-12 ">
  <div class="text-center pt-3 mx-8 border-solid">
    <h3 class="text-lg font-semibold"> Les Colocs !  </h3>
  </div>
  <div class="-mt-4 rounded-t-3xl flex flex-col gap-4 items-center py-4 mx-4 ">
            <div class="-mx-4 pb-6 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal ">
                        <thead>
                            <tr>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Nom
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Tâche préférée
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-200 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% current_colocation.users.each do |user| %>
                              <tr>

                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                  <div class="flex items-center">
                                    <div class="flex-shrink-0 w-10 h-10">
                                      <%= cl_image_tag user.photo.key, class:'w-full h-full rounded-full' %>
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                          <%= user.name.capitalize %>
                                        </p>
                                    </div>
                                  </div>
                                </td>

                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap"><%= user.preferences.find{ |preference| preference.position == 0 }.task.name %></p>
                                </td>

                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                   <span><%= user.preferences.find{ |preference| preference.position == 0 }.task.assignations.select{|assignation|assignation.statut}.count %></span>
                                </td>
                              </tr>
                            <% end %>


                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>




<div class="ml-64 -mb-16 -mt-4"> </div>
<div class="-mt-4 pb-12 rounded-t-3xl bg-gradient-to-tr from-white to-gray-200 flex flex-col gap-4 items-center py-4 mx-4 ">


  <%#= image_tag "stats_fun.svg", class:"w-15 text-center" %>
  <div id="leaderboard">
    <h1 class='text-center font-bold text-lg my-3 pb-2'>Statistiques</h1>
    <% i = 1 %>
    <% @points.each do |key, value| %>
      <%= cl_image_tag User.find(key).photo.key, class:"-ml-2 -mt-2 w-8 rounded-full" %>
      <div class='text-gray-700 statRow bg-gradient-to-r from-yellow-400 to-yellow-600 rounded-lg w-80 px-10 py-4 mb-2 -mt-6 flex justify-between'>
        <h2 class="font-semibold"> <%= User.find(key).first_name.capitalize %> </h2>
        <h2> <%= "#{value} pts"%> </h2>
      </div>
      <div class='-mt-6 mb-2 text-gray-700 text-lg font-bold text-center w-1/12 ml-72 bg-blue-300 rounded-full border-solid border-yellow-300'>
        <%= i %>
      </div>
      <% i += 1 %>
    <% end %>
    <canvas id="best-roomate-chart" width="200" height="200" class="pt-4 mb-5"></canvas>
  </div>
  <br>
    <% current_colocation.users.each_with_index do |user, i| %>
  <div class="">
      <canvas id="task-chart-<%= i %>" width="200" height="200" class="mb-5"></canvas>
  </div>
    <% end %>
</div>

<div class=" -mb-16 -mt-4"> </div>
<div class="-mt-4 rounded-t-3xl bg-gradient-to-tr from-blue-200 to-blue-400 flex flex-col gap-4 items-center py-4 mx-4 border-solid border-b-2 border-gray-400 border-opacity-30">

  <%#= image_tag "stats_fun.svg", class:"w-15 text-center" %>
  <div id="leaderboard">
    <h1 class='text-center font-bold text-lg my-3 pb-2'>Mur de la honte</h1>
      <%= cl_image_tag User.find(@least.keys.first).photo.key, class:"-ml-2 w-8 rounded-full" %>
      <div class='text-gray-700 items-baseline statRow bg-gradient-to-r from-yellow-400 to-yellow-600 rounded-lg w-80 px-2 py-4 mb-2 -mt-6  flex justify-between'>
        <div class="px-6 w-50 font-semibold text-sm">Le mytho d'or</div>
        <h2 class="text-xs"> <%= User.find(@least.keys.first).name %> a validé <%= @least.values.first %> tâches sans prendre de photo </h2>
      </div>
      <%= cl_image_tag User.find(@faineant.keys.first).photo.key, class:"-ml-2 w-8 rounded-full" %>
      <div class='text-gray-700 items-baseline statRow bg-gradient-to-r from-yellow-400 to-yellow-600 rounded-lg w-80 px-2 py-4 mb-2 -mt-6 flex justify-between'>
        <div class="px-6 w-50 font-semibold text-sm">L'attentiste</div>
        <h2 class="text-xs"> <%= User.find(@faineant.keys.first).first_name.capitalize %> à <%= "#{@faineant.values.first} tâches en attente"%></h2>
      </div>
      <%= cl_image_tag User.find(@radin.keys.first).photo.key, class:"-ml-2 w-8 rounded-full" %>
      <div class='text-gray-700 statRow items-baseline bg-gradient-to-r from-yellow-400 to-yellow-600 rounded-lg w-80 px-2 py-4 mb-12 -mt-6  flex justify-between'>
        <div class="px-6 w-50 font-semibold text-sm">Le radin</div>
        <h2 class="text-xs"> <%= User.find(@radin.keys.first).name %> est en retard sur le tricount </h2>
      </div>

      <div class='-mt-6 mb-2 text-gray-700 text-lg font-bold text-center w-1/12 ml-72 bg-blue-300 rounded-full border-solid border-yellow-300'>
      </div>
</div>
</div>

<div class="mb-14"></div>


<%= render 'shared/navigation_footer' %>

