<%= render 'shared/home_tabs' %>

<div class="flex flex-col gap-4 items-center text-center py-4 mx-8 border-solid border-b-2 border-gray-400 border-opacity-30">
  <h1 class="text-lg font-semibold"> <%= current_colocation.name %> </h1>
  <%= image_tag "team.svg", class:"w-44 h-44" %>
  <h3 class="text-lg font-semibold">Participants</h3>


<div class="flex">
  <% current_colocation.users.each do | user | %>
  <div class="flex flex-col w-full text-black items-center px-3 py-4 pl-4">
    <%= cl_image_tag user.photo.key, class:" border-solid border-2 border-blue-200 w-12 h-12 rounded-full" %>
    <span class="pt-2"> <%= user.first_name %> </span>
  </div>
  <% end %>
</div>
</div>


<div class="flex flex-col gap-4 items-center text-center py-4 mx-8 border-solid border-b-2 border-gray-400 border-opacity-30">
  <h1 class="text-lg font-semibold"> Statistiques </h1>
  <%= image_tag "stats_fun.svg", class:"w-44 h-44" %>
</div>

<div class="px-4 flex flex-col">
  <span class="py-4">La coloc <%= current_colocation.name %> existe depuis le <%= current_colocation.created_at.strftime("%d/%m/%Y") %> </span>
  <span class="py-4"> <%= Assignation.all.count %> tâches ont été réalisées depuis </span>
  <span class="flex items-end py-4"> <%= cl_image_tag User.find(2).photo.key, class:"mr-2 border-solid border-2 border-blue-200 w-12 h-12 rounded-full"  %> <%= User.find(2).name %> est celui qui a réalisé le plus de tâches!
  </span>
  <span class="flex items-end py-4"> <%= cl_image_tag User.find(3).photo.key, class:"mr-2 border-solid border-2 border-blue-200 w-12 h-12 rounded-full"  %> <%= User.find(3).name %> est celui qui a le plus prouvé ses réalisations!
  </span>
  <span class="flex items-end py-4"> <%= cl_image_tag User.find(1).photo.key, class:"mr-2 border-solid border-2 border-blue-200 w-12 h-12 rounded-full"  %> <%= User.find(1).name %> est le plus fainéant d'entre tous...
  </span>
</div>

<%= render 'shared/navigation_footer' %>
