<div class="px-auto text-center py-8">
<h1> <%= @colocation.name %> </h1>
<h3>Voila les tâches ! A qui le tour? </h3>
</div>

<div class="flex  flex-col gap-6 px-8">
  <% @colocation.users.each do | user | %>
  <% user.assignations.each do | assignation | %>
    <% if assignation.statut == false %>
  <div class="flex justify-between items-center py-4 pl-4 bg-blue-200 shadow-lg">
    <%= cl_image_tag user.photo.key, class:"mr-4 border-solid border-2 border-blue-200 w-12 h-12 rounded-full" %>
    <%= assignation.task.name %>

    <%= simple_form_for assignation do |f| %>
    <%= f.input :statut, as: :boolean %>
    <%= f.input :photos, as: :file, label:"Ajouter une preuve(photo)" %>
    <%= f.button :submit , "Valider"%>
    <% end %>

  </div>
  <% end %>
  <% end %>
  <% end %>
</div>
<%= render 'shared/navigation_footer' %>
