<% content_for :title, "Coloc - #{current_colocation.name}" %>

<div class="text-center py-3 mx-8 border-solid border-b-2 border-gray-400 border-opacity-30">
  <h1 class="text-lg font-semibold"> <%= @colocation.name %> Calendrier</h1>
</div>

<!-- Début de la methode pour afficher les taches en cours -->

<div class="flex flex-start px-4 py-5">
     <div class="flex flex-col flex-shrink items-center font-bold text-yellow-600 ">
        <span ><%= translate_day_name(Date.today.strftime("%a")) %></span>
        <span><%= Date.today.strftime("%d") %></span>
      </div>
  <div class="flex flex-col gap-4 flex-grow pl-4 pr-6">

  <% @colocation.users.each do | user | %>
  <% user.assignations.sort_by(&:date).reverse.each do | assignation | %>


<!-- Un premier if pour les taches occasionnel qui n'ont pas de task associé -->

  <% if  assignation.task != nil %>

<!-- Un deuxieme pour afficher les taches à la date d'aujourd'hui et les hebdomaires sur 7j glissant  -->

    <% if assignation.statut == false && (assignation.date == Date.today || (assignation.task.recurrence == "hebdomadaire" && assignation.date < Date.today.next_day(7))) %>
        <% if assignation.task.recurrence == "hebdomadaire" %>
            <div class="flex flex start items-center px-2 py-2 bg-yellow-300 shadow-lg rounded-lg border-solid border-2 border-gray-800 border-opacity-10">
          <div class="">
            <%= cl_image_tag user.photo.key, class:"w-8 h-8 rounded-full" %>
          </div>
          <div class="px-3">
            <span class="text-gray-800 font-bold text-sm">
            <%= link_to task_path(assignation.task), class: '' do %><%= assignation.task.name  %><% end %></span>
            <span class="block text-xs text-gray-600"><%= change_hebdo_and_quoti(assignation.task.recurrence)%></span>
          </div>

        </div>

        <% else %>
          <div class="flex flex start items-center px-2 py-2 bg-blue-200 shadow-lg rounded-lg border-solid border-2 border-gray-800 border-opacity-10">
            <div class="">
              <%= cl_image_tag user.photo.key, class:"w-8 h-8 rounded-full" %>
            </div>
            <div class="px-3">
              <span class="text-gray-800 font-bold text-sm">
              <%= link_to task_path(assignation.task), class: '' do %><%= assignation.task.name  %><% end %></span>
              <span class="block text-xs text-gray-600"><%= change_hebdo_and_quoti(assignation.task.recurrence)%></span>
            </div>

          </div>
        <% end %>
      <% end %>

<!-- On fait la même chose qu'au dessus pour les taches occasionnel -->

  <% elsif assignation.statut == false && assignation.date == Date.today %>
      <div class="flex flex-start items-center px-2 py-2 bg-blue-200 shadow-lg rounded-lg border-solid border-2 border-gray-800 border-opacity-10">
        <%= cl_image_tag user.photo.key, class:"w-8 h-8 rounded-full" %>
        <span class="px-3 text-gray-800 font-bold text-sm">
         <%= link_to assignation_path(assignation), class: '' do %><%= assignation.name %><% end %></span>
      </div>

    <% end %>
    <% end %>
    <% end %>
  </div>
  </div>



<!-- La method regarde sur x jours (15.times do = 15j) si l'user à des tasks et si oui elle display le jour et les tasks
 -->

<% i = 1 %>
  <% 15.times do %>

  <% @existing_date = [] %>
  <% @colocation.users.each do | user | %>
    <% user.assignations.each do | assignation | %>

<!-- Première method pour savoir si il y a plus de 2 taches à montrer pour savoir si on display en grid ou pas -->

    <% if assignation.task != nil %>
      <% if assignation.date == Date.today.next_day(i) && assignation.task.recurrence != "hebdomadaire" %>
        <% @existing_date << assignation.date %>
      <% end %>
    <% elsif assignation.date == Date.today.next_day(i) %>
      <% @existing_date << assignation.date %>
    <% end %>
    <% end %>
  <% end %>

    <% if @existing_date != [] %>
      <div class="flex flex-start px-3 py-5">
        <div class="flex flex-col flex-shrink font-bold items-center">
          <span ><%= translate_day_name(Date.today.next_day(i).strftime("%a")) %></span>
          <span><%= Date.today.next_day(i).strftime("%d") %></span>
        </div>

        <div class="flex flex-col gap-4 flex-grow pl-4 pr-6">
    <% end %>

<!-- Fin de la première méthod -->


      <% @colocation.users.each do | user | %>
      <% user.assignations.each do | assignation | %>
<!--
Comme pour la method taches en cours premier if pour savoir si tache occasionnel  -->

      <% if assignation.task != nil %>

<!-- A linverse on veut pas des taches hebdomadaire ici, seulement celle qui correspondent à la dates -->

      <% if assignation.statut == false && assignation.date == Date.today.next_day(i) && assignation.task.recurrence != "hebdomadaire" %>
        <div class="flex flex start items-center px-2 py-2 bg-blue-200 shadow-lg rounded-lg border-solid border-2 border-gray-800 border-opacity-10">
            <%= cl_image_tag user.photo.key, class:"w-8 h-8 rounded-full" %>
          <div class="px-3">
            <span class="text-gray-800 font-bold text-sm">
            <%= link_to task_path(assignation.task), class: '' do %><%= assignation.task.name  %><% end %></span>
          </div>

        </div>
      <% end %>

<!-- Ici cest pour les assignation occasionnel on refait la method du dessus -->

      <% elsif assignation.statut == false && assignation.date == Date.today.next_day(i)%>
          <div class="flex flex-start items-center px-2 py-2 bg-blue-200 shadow-lg rounded-lg border-solid border-2 border-gray-800 border-opacity-10">
            <div class="flex-shrink">
            <%= cl_image_tag user.photo.key, class:"w-8 h-8 rounded-full" %>
            </div>
            <span class="flex-grow px-3 text-gray-800 font-bold text-sm">
            <%= link_to assignation_path(assignation), class: '' do %><%= assignation.name %><% end %></span>
          </div>
      <% end %>

<!-- Fin de la method -->

      <% end %>
      <% end %>
    </div>
    </div>
    </div>
    <% i += 1 %>
    <% end %>

<div class="mb-16"></div>

<%= render 'shared/navigation_footer' %>

