<div class="flex flex-col gap-3 items-center text-center py-2 mx-8">
  <h1 class="text-lg font-semibold"> Tableau des preuves </h1>
  <%= image_tag "tablette_vide.svg", class:"h-8 " %>
</div>

<div class="px-6">
  <% @assignations.reverse.each do |assignation| %>
    <% if assignation.statut == true %>
      <div class="px-2 my-4 border-2 bg-blue-200 rounded-lg">
        <div class="history-avatar">
          <%= cl_image_tag assignation.user.photo.key, class: 'avatar' %>
        </div>
        <div class="flex flex-col items-start">
            <div class="flex items-baseline px-2 py-4">
              <span class="text-yellow-600 font-extrabold text-base"><%= assignation.user.first_name %> &nbsp;</span>
              <span class="font-base text-sm">a bien bossé,&nbsp;</span>
              <span class="font-semibold text-sm"> &nbsp;la preuve</span>
            </div>
          <div class="rounded-3xl overflow-hidden mx-4">
            <% if assignation.photo.attached? %>
              <%= cl_image_tag assignation.photo.key, class: "w-full object-cover h-44" %>
            <% end %>
          </div>
        </div>

          <div class="flex justify-between">
            <span class="px-2 py-2 text-gray-600 text-xs">Tâche réalisée:
              <% if assignation.task == nil %>
                <%= assignation.name %>
              <% else  %>
                <%= assignation.task.name  %>
              <% end %>
            </span>

            <div class="px-2 py-2 text-gray-600 text-xs ">
              <% day = translate_day_name(assignation.updated_at.strftime("%a"))%>
              <%= assignation.updated_at.strftime("%Hh%M - #{day} %d") %>
            </div>
          </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="mb-16"></div>

<%= render 'shared/navigation_footer' %>
