<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Faciliter la vie de votre colocation" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="www.lacoloc.xyz" />
    <meta property="og:description" content="Ne soyez plus le seul à faire la vaisselle, répartissez vous les tâches automatiquement" />
    <meta property="og:site_name" content="La coloc" />
    <meta property="og:image" content="<%= image_url('flat.jpg') %>"/>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('icon.png') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="manifest" href="<%= 'site.webmanifest' %>">
  </head>

  <body class="bg-gray-200 font-sans leading-tight antialiased">

    <%#= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>


